## Numbers

In [ ]:
(50-5*6)/4

In [ ]:
width = 20
height = 5* 9
width*height

In [ ]:
'spam eggs'

In [ ]:
"doesnt"

In [ ]:
text = ('hello'
       'world')
print(text)

In [ ]:
a = "hello"
b = "world"
a+" "+b

In [ ]:
a[-1]

In [ ]:
a[0]

In [ ]:
a[:2]

## List

In [ ]:
squares = [1,4,9,16,25]
print(squares)

In [ ]:
squares[0]

In [ ]:
squares[-1]

In [ ]:
squares[-3:]

In [ ]:
squares[:]

In [ ]:
squares = squares+[36,49,65]
squares

In [ ]:
squares[-1] = 64
squares

In [ ]:
squares.append(81)
squares

In [ ]:
len(squares)

In [ ]:
a = ['a','b','c']
n = ['1','2','3']
x = [a,n]
x

In [ ]:
a,b = 0,1
while a < 10 :
    print(a)
    a,b = b ,a+b

In [ ]:
i = 256*256
print("the value of i is",i)

In [ ]:
a,b = 0,1
while a < 1000 :
    print(a,end=',')
    a,b = b,a+b

## More Control Flow Tools

### if Statements

In [ ]:
x = int(input("Please enter an integer:"))
if x < 0:
    x = 0
    print("Negative changed to zero")
elif x == 0:
    print("Zero")
else:
    print("More")

### for Statements

In [ ]:
words = ['cat','window','defenestrate']
for w in words :
    print(w,len(w))

### The range() Function

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(5,10):
    print(i)

In [ ]:
for i in range(0,10,3):
    print(i)

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i,a[i])

In [ ]:
sum(range(4))

In [ ]:
list(range(4))

### break,continue

### pass Statement
> The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action

### Defining Functions

In [2]:
def fib(n):
    a,b = 0,1
    while a < n :
        print(a,end=' ')
        a,b = b,a+b
        
    print()
    
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [ ]:
fib

In [ ]:
f = fib

In [ ]:
f(100)

In [ ]:
fib(0)

In [ ]:
print(fib(0))

In [3]:
def fib2(n):
    result = []
    a,b = 0,1
    while a < n :
        result.append(a)
        a,b = b,a+b
    
    return result

f100 = fib2(100)
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [1]:
a = "100"
print(a)

100

In [4]:
list(range(3,6))

[3, 4, 5]

In [5]:
args = [3,6]
list(range(*args))

[3, 4, 5]

## Lambda Expressions

In [6]:
def make_incrementor(n):
    return lambda x: x + n
f = make_incrementor(42)
f(0)

42

In [7]:
f(1)

43

### Document strings (注释)

In [8]:
def func():
    """Do nothing,but docemnt it
    
    """
    pass

## Data Structures

### List

In [9]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [10]:
fruits.pop()

'pear'

### Using Lists as Stacks

In [11]:
stack = [3,4,5]
stack.append(6)
stack

[3, 4, 5, 6]

In [12]:
stack.pop()

6

### Using Lists as Queues

### Other

In [13]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## del Statements

In [14]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [15]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [16]:
del a[:]
a

[]

### Tuples and Sequences
1.Tuples are immutable

In [17]:
t = 12345,54321,"hello"
t[0]

12345

In [18]:
t

(12345, 54321, 'hello')

In [19]:
u = t,(1,2,3,4,5)
u

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

In [21]:
empty = ()
singleton = "hello",
len(singleton)

1

In [22]:
singleton

('hello',)

In [24]:
x,y,z = t
x

12345

In [25]:
y

54321

In [26]:
z

'hello'

### Sets

In [27]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'banana', 'pear', 'apple'}

In [28]:
'orange' in basket

True

In [31]:
a = set("abracadabra")
a

{'a', 'b', 'c', 'd', 'r'}

In [32]:
b = set("alacazam")
b

{'a', 'c', 'l', 'm', 'z'}

In [33]:
a-b

{'b', 'd', 'r'}

In [34]:
a|b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [35]:
a & b

{'a', 'c'}

In [36]:
a^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [37]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

### Dictinaries

In [38]:
tel = {"jack":4098,"sape":4139}
tel["guido"] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [39]:
tel["jack"]

4098

In [40]:
del tel["sape"]
tel

{'jack': 4098, 'guido': 4127}

In [41]:
list(tel)

['jack', 'guido']

In [42]:
sorted(tel)

['guido', 'jack']

In [44]:
'guido' in tel

True

In [45]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [46]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [47]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k,v in knights.items():
    print(k,v)

gallahad the pure
robin the brave

## Errors and Exceptions

In [48]:
While True print("hello world")

SyntaxError: invalid syntax (<ipython-input-48-be0547e4740e>, line 1)

In [2]:
while True:
    try:
        x = int(input("Please enter a number:"))
        break
    except ValueError:
        print("Oops!")

Please enter a number:a
Oops!
Please enter a number:1

In [3]:
try:
    raise NameError('HiThere')
except NameError:
    print("an exception flew by")
    raise

an exception flew by

NameError: HiThere

In [6]:
def divide(x,y):
    try:
        result = x/y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is",result)
    finally:
        print("executing finally clause")
        
divide(2,1)

result is 2.0
executing finally clause

In [ ]:
with open("myfile.txt") as f:
    for line in f:
        print(line, end="")